<div class="container">
  <div class="panel small-11 small-centered medium-7 large-5 columns">
    <div class="row">
      <div class="small-12, medium-11, large-12 large-centered columns">
        <div class="dashboard-link">
          <%= link_to "Back to Event", :back %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12, medium-11, large-12 large-centered columns">
        <h4><%= @multi_choice_question.question_body %></h4>
      </div>
      <div class="answers">
        <div class="small-11, medium-11, large-11 large-centered columns">
          <h6><%= "A) #{@multi_choice_question.answer_a}" %></h6>
        </div>
        <div class="small-11, medium-11, large-11 large-centered columns">
          <h6><%= "B) #{@multi_choice_question.answer_b}" %></h6>
        </div>
        <div class="small-11, medium-11, large-11 large-centered columns">
          <h6><%= "C) #{@multi_choice_question.answer_c}" %></h6>
        </div>
        <div class="small-11, medium-11, large-11 large-centered columns">
          <h6><%= "D) #{@multi_choice_question.answer_d}" %></h6>
        </div>
        <div class="small-11, medium-11, large-11 large-centered columns">
          <h6><i><%= "Correct Answer: #{@multi_choice_question.answer}" %></i></h6>
        </div>
      </div>
    </div> 
    <div class="row">
      <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
      <%= pie_chart @multi_choice_answers.group("answer_submission").count, :library => {:backgroundColor => "#F2F2F2"} %>
    </div>
  </div>
</div>