<div class="container">
  <div class="panel small-11 small-centered medium-7 large-5 columns">  
    <div class="row">
      <h2 class="new-event-title"><%= @multi_choice_question.question_body %> </h>
    </div>
    <%= form_for([@multi_choice_question, @multi_choice_answer]) do |f|%>
      <div class="row">
        <div class="row">
          <div class="small-1, medium-1, large-1 columns">
            <%= f.radio_button(:answer_submission, "#{@multi_choice_question.answer_a}", label: "#{@multi_choice_question.answer_a}") %>
          </div>
          <div class="medium-11 large-11 columns">
            <%= f.label(:answer_submission, "#{@multi_choice_question.answer_a}") %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <div class="small-1, medium-1, large-1 columns">
            <%= f.radio_button(:answer_submission, "#{@multi_choice_question.answer_b}", label: "#{@multi_choice_question.answer_b}") %>
          </div>
          <div class="medium-11 large-11 columns">
            <%= f.label(:answer_submission, "#{@multi_choice_question.answer_b}") %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <div class="small-1, medium-1, large-1 columns">
            <%= f.radio_button(:answer_submission, "#{@multi_choice_question.answer_c}", label: "#{@multi_choice_question.answer_c}") %>
          </div>
          <div class="medium-11 large-11 columns">
            <%= f.label(:answer_submission, "#{@multi_choice_question.answer_c}") %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <div class="small-1, medium-1, large-1 columns">
            <%= f.radio_button(:answer_submission, "#{@multi_choice_question.answer_d}", label: "#{@multi_choice_question.answer_d}") %>
          </div>
          <div class="medium-11 large-11 columns">
            <%= f.label(:answer_submission, "#{@multi_choice_question.answer_d}") %>
          </div>
        </div>
      </div>
      <div class="full-length-button">
        <%=f.submit 'Submit',class: "button"%>
      </div>
    <% end %>
  </div>
</div>