<div class="container">
  <div class="panel small-5 small-centered columns">  
    <h2 class="sign-up-title">Edit Profile</h2>
      <%= simple_form_for(@user) do |f| %>
        <%= f.input :first_name %><br/>
        <%= f.input :last_name%><br/>
        <%= f.input :about_me, label: "About you (500 character max)", as: :text%><br/>
        <%= f.label "Profile Photo"%><br>
        <%= f.file_field :avatar%><br>
        <%= f.input :twitter_handle, label: 'Twitter Url'%><br/>
        <%= f.input :linked_in_url, label: 'LinkedIn Url'%><br/>
        <div class="save-changes-button">
          <%= f.submit 'Save Changes',class: "button" %>
          <%= link_to "Cancel", user_path, class: "button" %>
       <% end %>  
    </div>
  </div>
</div>