<br>
<%= image_tag @user.avatar.thumb.url%>
<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<%=flash[:edits_saved] %><br>
<br>
<table border="1">
<% @all_events.each do |event| %>
<tr>
</tr>
<tr>
<td><%=event.name%></td>
<td><%= link_to "Edit Event", edit_event_path(event)%></td>
<td><%= link_to "View Reviews", event_path(event) %></td>
</tr>
<% end %>
</table>