<% if flash[:event_saved] %>
  <div data-alert class="alert-box">
      <%= flash[:event_saved] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
<% if flash[:deleted] %>
  <div data-alert class="alert-box">
      <%= flash[:deleted] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
<div class="row">
  <div class="small-11 medium-3 large-4 columns">
    <div class="photo">
      <%= image_tag @user.avatar.thumb.url %>
      <h1><%= @user.format_speaker_name %></h1>
      <div class="edit-pofile">
        <%= link_to "Edit Profile", edit_user_path(@user) %>
        <div class="save-changes-flash-message">
          <%=flash[:saved]%>
          <%=flash[:edits_saved]%>
        </div>
      </div>
    </div>
  </div>
  <%= render "user_stats" %>
</div>
<div class="row">
  <div class="large-4 medium-4 small-12 columns">
    <div class="row">
    </div>
    <div class="full-length-button">
      <%= link_to "Add Speaking Event", new_event_path, class: "button" %>
    </div>
  </div>
</div>
<div class="row">
  <%= render 'events' %>
</div>