<% if flash[:event_saved] %>
  <div data-alert class="alert-box">
      <%= flash[:event_saved] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
<div class="row">
  <div class="small-11 medium-3 large-4 columns">
    <div class="photo">
      <%= image_tag @user.avatar.thumb.url %>
      <h1><%= @user.format_speaker_name %></h1>
      <div class="edit-pofile">
        <%= link_to "Edit Profile", edit_user_path(@user) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-11 medium-8 large-7 columns">
      <div class="stats-tables">
        <ul class="small-block-grid-2 columns">
          <li class="table-data">
            <table height="100">
              <thead >
                <th width="250">Total Presentations</th>
              </thead>
                <tr>
                <td align="center"><%= "#{@all_events.count}" %></td>
                </tr>
            </table>
          </li>
          <li>
            <table height="100">
              <thead align="center">
                <th width="250">Presentations with Reviews</th>
              </thead>
                <tr>
                  <td align="center"><%= "#{@user.events_with_reviews_count}" %></td>
                </tr>
            </table>
          </li>
           <li>
            <table height="100">
              <thead align="center">
                <th width="250">Average Presentation Rating</th>
              </thead>
                <tr>
                <td align="center"><%= "#{@user.calculate_all_presentations_average(@user.each_event_rating_average)}" %></td>
            </table>
          </li>
          <li>
            <table height="100">
              <thead align="center">
                <th width="250">Highest Rated Presentation</th>
              </thead>
                <tr>
                <td align="center"><%= "#{@user.get_highest_rated_presentation(@user.each_event_rating_average)}" %></td>
                </tr>
            </table>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-4 medium-4 small-12 columns">
    <div class="row">
    </div>
    <div class="full-length-button">
      <%= link_to "Add Speaking Event", new_event_path, class: "button" %>
        <%=flash[:saved]%>
        <%=flash[:edits_saved]%>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 medium-10 large-12 columns">
    <table>
      <thead>
        <th width="200">Presentation Name</th>
        <th width="200">Number of Reviews</th>
        <th width="250">Presentation Rating</th>
        <th width="125"></th>
        <th width="125"></th>
      </thead>
      <% @all_events.each do |event| %>
        <tr>
        </tr>
        <tr>
        <td><%=event.name%></td>
        <% if event.count_reviews != 0 %>
          <td align="center"><%= event.count_reviews %></td>
          <td align="center"><%= event.calculate_average_rating %></td>
        <% else %>
          <td><%= "No Reviews" %></td>
          <td><%= "No Reviews" %></td>
        <% end %>
        <td><%= link_to "Edit Event", edit_event_path(event)%></td>
        <td><%= link_to "View Reviews", event_reviews_path(event) %></td>
      </tr>
      <%end%>
    </table>
  </div>
</div>