<% if flash[:deleted_account] %>
  <div data-alert class="alert-box">
    <%= flash[:deleted_account] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
<div class="container-home">
  <div class="panel small-11 small-centered medium-6 large-6 columns"> 
    <div class="row">
      <div class="title-home">
        <h1 align="center">Welcome to Kaizano</h1>
      </div>
    </div>
    <div class="sub-header">
      <div class="row">
        <h3 align="center">Hone your Presentation Skills</h3>
      </div>
      <div class="row">
        <h5>Kaizano Makes it Easy to Connect with your Audience and Improve your Presentation Skills.</h5>
      </div>
    </div>
    <br>
    <% if user_signed_in? %>
      <div class="row">
        <div class="row">
          <div class="medium-12 large-6 columns">
            <div class="full-length-button">
              <%= link_to 'Create an Event', new_event_path, class: "button" %>
            </div>
          </div>
          <div class="medium-12 large-6 columns">
            <div class="full-length-button">
              <%= link_to 'Join a Presentation', events_path, class: "button" %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="row">
          <div class="medium-12 large-6 columns">
            <div class="full-length-button">
              <%= link_to 'Create an Event', new_user_registration_path, class: "button" %>
            </div>
          </div>
          <div class="medium-12 large-6 columns">
            <div class="full-length-button">
              <%= link_to 'Join a Presentation', events_path, class: "button" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>