<div class="container">
  <div class="panel small-5 small-centered columns">
    <h2>Edit Event Details</h2>
    <%= simple_form_for(@event) do |f| %>
      <%= f.input :name %>
      <%= f.input :location %>
      <%= f.input :event_url %>
      <%= f.input :description %>
      <div class="save-changes-button-event">
        <%= f.submit 'Save Changes',class: "button" %>
        <%= link_to "Cancel", user_path(current_user), class: "button" %>
      <% end %>
    </div>
  </div>
</div>

  