<div class="row">
  <div class="large-6 small-centered columns">
    <h2 class="new-event-title">Create New Speaking Event</h>
  </div>
</div>
<%=simple_form_for(@event) do |f|%>
  <div class="row">
    <div class="large-6 small-centered columns">
      <%= f.input :name, label: "Event Name" %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 small-centered columns">
      <%= f.input :event_password %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 small-centered columns">
      <%= f.input :location%>
    </div>
  </div>
  <div class="row">
    <div class="large-6 small-centered columns">
      <%= f.input :event_url%>
    </div>
  </div>
  <div class="row">
    <div class="large-6 small-centered columns">
      <%= f.input :description, label: "Event Description (500 characters max)" %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 small-centered columns">
      <div class="create-event-button">
        <%=f.submit 'Create Event',class: "button"%>
      </div>
    </div>
  </div>
<% end %>