<div class="row">
  <div class="large-4 columns">
    <b><font size="6">Create a New Event</font></b>
  </div>
</div>
<%=simple_form_for(@event) do |f|%>
  <div class="row">
    <div class="large-4 columns">
      <%= f.input :name, label: "Event Name" %>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <%= f.input :event_password %>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <%= f.input :location%>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <%= f.input :event_url%>
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns">
      <%= f.input :description%>
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns">
      <%=f.submit 'Create Event',class: "button"%>
    </div>
  </div>
<% end %>