<div class="container">
  <div class="panel small-11 small-centered medium-7 large-5 columns">  
    <div class="row">
      <h2 class="new-event-title">Create New Speaking Event</h>
    </div>
    <%=simple_form_for(@event) do |f|%>
      <div class="row">
        <%= f.input :name, label: "Event Name" %>
      </div>
      <div class="row">
        <%= f.input :event_password %>
      </div>
      <div class="row">
        <%= f.input :location %>
      </div>
      <div class="row">
        <%= f.input :event_url %>
      </div>
      <div class="row">
        <%= f.input :event_date, label: "Date", as: :date, start_year: Date.today.year, order: [:month , :day, :year], :prompt => {:day => 'Day', :month => 'Month', :year => 'Year'}  %>
      </div>
      <div class="row">
        <%= f.input :description, label: "Event Description (500 characters max)" %>
      </div>
      <div class="row">
        <div class="full-length-button">
          <%=f.submit 'Create Event', class: "button"%>
        </div>
      </div>
    <% end %>
  </div>
</div>

