<% if flash[:review_saved] %>
  <div data-alert class="alert-box">
      <%= flash[:review_saved] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
<div class="row">
  <div class="small-11 medium-6 large-6 columns">
    <div class="title">
      <h1 class="event-header"><%= @event.name %></h1>
      <h4>Speaker: <%= @event.format_speaker_name %></h4>
      <% if !@event.event_date.nil? %>
        <h6>Date: <%= @event.format_date %></h6>
      <% end %>
      <%if @event.user.about_me != ''%>
        <ul class="inline-list">
          <% if @event.user.twitter_handle != '' %>
          <li>
            <%= link_to simple_format('<i class="fa fa-twitter fa-2x"></i>'),
              @event.user.twitter_handle, target: '_blank' %>
          </li>
          <% end %>
          <%if @event.user.linked_in_url != '' %>
          <li>
            <%= link_to simple_format('<i class="fa fa-linkedin-square fa-2x"></i>'),
              @event.user.linked_in_url, target: '_blank' %>
          </li>
          <%end%>
        </ul>
        <h5 class="event-header">About <%= @event.user.first_name %>:</h5> 
        <h6><%= @event.user.about_me %></h6>
      <%end%>
    </div>
    <div class="row">
      <div class="small-11 medium-6 large-12 columns">
        <h5 class="event-header"> Presentation Description </h5>
        <h6><%=@event.description%></h6>
      </div>
    </div>
  </div>
  <div class-"row">
    <div class="small-12 medium-6 large-6 columns">
      <div class="feedback-button">
        <%= link_to 'Give Feedback', new_event_review_path(@event), class: "button" %>
      </div>
      <div class="row">
        <div class="small-12 small-centered medium-6 medium-centered large-5 large-centered columns">
          <h4 class="question-header">Ask a Question</h4>
        </div>
      </div>
      <%= simple_form_for ([@event, @question]) do |f| %>
        <%= f.input :body, label: false, as: :text %>
        <%=f.submit "Ask Question",class: "button" %><br>
        <%=flash[:question_added]%>
        <%=flash[:question_can_not_be_blank]%>
      <% end %>
      </div>
    </div>
  </div>
</div>                
<div class="row">
  <div class="small-11 medium-10 large-6 columns">
    <h1 class="event-header">Audience Questions</h1>
  </div>
</div>
<div class="question-object">
  <% @event.questions.each do |question| %>
  <div class="row">
    <div class="small-12 medium-11 large-12 columns">
    <h4><%=question.body%></h4>
   </div>
  </div>
  <div class="row">
    <div class="small-12 medium-12 large-12 columns">
    <a class="answer-link" href="#">Speaker Answer</a><br><br>
    <a class="comment-link" href="#">Comments</a>
      <div class="row">
        <div class="small-12 medium-10 large-12 columns">
            <div class="answer-feed hide">
            <% if !question.question_answer.nil? %>
              <div class="answer-body">
                <h5><%= question.question_answer.answer_body %></h5>
                <h6><i><%="#{question.question_answer.updated_at.to_date.strftime("%m/%d/%Y")}" %></i></h6>
              </div>
            <% else %>
              <div class="no-answer-message">
                <h5><%= "The Presentor has not Answered this Question yet." %></h5>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-8 large-9 columns">
          <div class="comment-object hide">
            <div class="comment-feed">
              <% if question.question_comments.count > 0 %>
                <% question.question_comments.each do |comment| %>
                  <div class="comment-body">
                   <h6><%="- #{comment.body}"%></h6>
                  </div>
                <% end %>
              <% else %>
                <div class="no-comments-message">
                  <%= "No Comments" %><br>
                </div>
              <% end %>
            </div>
            <%= simple_form_for ([question, @question_comment]) do |f|%>
              <%= f.input :body, label: "Comment", as: :text %>
              <div class="comment-button">
                <%= f.submit "Comment", class: "button tiny"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>