<div class="row">
  <div class="small-6 columns">
    <div class="title">
    <h1><%= @event.name %></h1>
      <h4>Speaker: <%= @event.format_speaker_name %></h4>
      <%if @event.user.about_me != ''%>
        <h5>About <%= @event.user.first_name %>:</h5> 
        <%= @event.user.about_me %><br>
      <%end%>
      <%if @event.user.twitter_handle != '' %>
        <%= link_to "Twitter", @event.user.twitter_handle, target: '_blank' %><br>
      <%end%>
      <%if @event.user.linked_in_url != '' %>
        <%= link_to "Connect on Linked In", @event.user.linked_in_url, target: '_blank' %>
      <%end%>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <h5>Presentation Description</h5>
        <h><%= @event.description %></h6>
      </div>
    </div>
  </div>
  <div class="small-6 columns">
    <div class="feedback-button">
      <%= link_to 'Give Feedback', new_event_review_path(@event), class: "button" %>
    </div>
  </div>
  <div class="small-6 columns">
    <div class="question-form">
      <h4 class="question-header">Ask a Question</h4>
        <%= simple_form_for ([@event, @question]) do |f| %>
          <%= f.input :body, label: false, as: :text %>
          <%=flash[:question_can_not_be_blank]%>
          <%=f.submit "Ask Question",class: "button" %><br>
          <%=flash[:question_added]%>
        <% end %>
    </div>
  </div>
</div>                
<div class="row">
  <div class="4-small columns">
    <h1>Audience Questions</h1>
  </div>
</div>
<div class="question-object">
  <% @event.questions.each do |question| %>
  <div class="row">
    <div class="small-6 columns">
    <h5><%= question.body %></h5>
   </div>
  </div>
  <div class="row">
    <div class="small-8 columns">
      <a class="comment-link" href="#">Comments</a>
      <div class="row">
        <div class="small-12 columns">
          <div class="comment-object hide">
            <div class="comment-feed">
              <% if question.question_comments.count > 0 %>
                <% question.question_comments.each do |comment| %>
                  <div class="comment-body">
                   <%= comment.body %><br>
                  </div>
                <% end %>
              <% else %>
                <div class="no-comments-message">
                  <%= "No Comments" %><br>
                </div>
              <% end %>
            </div>
            <%= simple_form_for ([question, @question_comment]) do |f|%>
              <%= f.input :body, label: "Comment", as: :text %>
              <div class="comment-button">
                <%= f.submit "Comment", class: "button tiny"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>