<div class="row">
  <div class="large-4 small-centered columns">
    <div class="title-sign-up">
      <h2>Sign in</h2>
    </div>
  </div>
</div>
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<div class="row">
  <div class="large-4 small-centered columns">
    <%= f.input :email, label: "Email", :autofocus => true %>
    <%= f.label :password, "Password" %>
    <%= f.password_field :password %>
  </div>
</div>
<div class="row">
  <div class="large-4 small-centered columns">
    <div class="sign-in">
      <%= f.submit "Sign in", class: "button" %>
<% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-4 small-centered columns">
    <%= link_to "Sign up", how_it_works_path %><br>
    <%= link_to "Forgot your password?", new_password_path(resource_name) %>
  </div>
</div>