<div class="container">
  <div class="panel small-5 small-centered columns">
    <h2>Edit Answer</h2>
      <div class="answer-question-question-body">
        <h5><i><%= "Question: #{@question.body}" %></i></h5>
      </div>
    <%= simple_form_for([@question, @question_answer]) do |f| %>
      <%= f.input :answer_body, label: "Answer" %>
      <div class="row">
        <div class="row">
          <div class="large-6 medium-6 columns">
            <div class="full-length-button">
              <%= f.submit 'Save Changes',class: "button" %>
            </div>
          </div>
          <div class="large-6 medium-6 columns">
            <div class="full-length-button">
              <%= link_to 'Cancel', :back, class: "button" %>
            </div>
          </div>
        <% end %>
      </div>
    </div> 
  </div>
</div>