<div class="container">
  <div class="panel small-5 small-centered columns">
    <h2>Answer Question</h2>
    <div class="answer-question-question-body">
      <h3><%= @question.body %></h3>
    </div>
    <% if !@question.question_comments.first.nil? %>
      <h5><b>Comments</b></h5>
      <div class="answer-question-comments">
        <% @question.question_comments.each do |comment| %>
          <h6><i><%= "- #{comment.body}" %></i></h6>
        <% end %>
      </div>
    <% end %>
    <%= simple_form_for([@question, @question_answer]) do |f| %>
      <%= f.input :answer_body, label: "Answer" %>
      <div class="save-answers-question-answers">
        <%= f.submit 'Answer Question',class: "button" %>
      </div>
    <% end %>
  </div>
</div>
