<% if flash[:answer_saved] %>
  <div data-alert class="alert-box">
      <%= flash[:answer_saved] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
<div class="row">
  <div class="small-4 columns">
    <div class="back-button"><%= link_to "Back to Dashboard", user_path(current_user) %></div>
  </div>
</div>
<div class="row">
  <div class="large-4 small-12 columns">
    <h1 class="title"><%= @event.name %><h1>
  </div>
  <div class="event-tables">
    <div class="large-4 columns">
      <table height="100">
        <thead align="center">
          <th width="250">Ratings Recieved</th>
        </thead>
          <tr>
          <% if @event.count_reviews > 0 %>
            <td align="center"><%= @event.count_reviews %></td>
          <% else %>
            <td>No Ratings Recieved</td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="large-4 columns">
      <table height="100">
        <thead align="center">
          <th width="250">Average Rating</th>
        </thead>
          <tr>
          <% if @event.count_reviews > 0 %>
            <td align="center"><%= @event.calculate_average_rating %></td>
          <% else %>
            <td>No Ratings Recieved</td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-11 large-12 columns">
    <h6><%= @event.description%></h6>
  </div>
</div>
<div class="row">
  <div class="small-11 large-12 columns">
    <div class="feedback-table">
      <table height="50">
        <thead>
          <th class="table-header" width="915">
            <span>Audience Feedback Comments</span>
            <a class="feedback-link" href="#">View Feedback</a>
          </th>
        </thead>
          <tbody class="feedback-table-content hide">
            <% if @event.reviews.count > 0 %>
              <% @event.reviews.each do |review| %>
                <% if review.feedback_comments != '' %>
                  <tr>
                    <td><%= review.feedback_comments %></td>
                  </tr>
                <% end %>
              <% end %>
            <% else %>
            <tr>
            <td>Audience Members left no feedback</td>
            </tr>
            <% end %>
          </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-11 large-12 columns">
    <table height="50">
      <thead>
        <th class="table-header" width="750">
          <span>Audience Questions</span>
          <a class="question-link" href="#">View Questions</a>
        </th>
        <th width="163">
        </th> 
      </thead>
        <tbody class="question-table-content hide">
        <% if @event.questions.count > 0 %>
          <% @event.questions.each do |question| %>
          <tr>
            <td><%= question.body %></td>
            <td align="center">
            <br>
            <div class="comment-button">
              <% if question.question_answer.nil? %>
                <%= link_to "Answer Question", new_question_question_answer_path(question), class: "button tiny" %>
              <% else %>
                <%= link_to "Edit Answer", edit_question_question_answer_path(question, question.question_answer), class: "button tiny" %>
              <% end %>
            </div>
            </td>
          </tr>
          <% end %>
        <% else %>
          <tr>
            <td>No Questions</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% if !@multi_choice_questions.first.nil? %>
  <div class="row">
    <div class="small-11 large-12 columns">
      <table height="50">
        <thead>
          <th class="table-header" width="580">
            <span>Multiple Choice Question Results</span>
            <a class="multi-choice-link" href="#">Show Results</a>
          </th>
          <th width="170">
            <span>Answers Submitted</span>
          </th> 
          <th width="163">
            <span>Correct Answer %</span>
          </th> 
        </thead>
        <tbody class="multi-choice-table-content hide">
          <% @multi_choice_questions.each do |question| %>
            <tr>
              <td width="580">
                <div class="row">
                  <div class="small-12 columns">
                    <%= question.question_body %>
                  </div>
                </div>
                <% if question.any_answers? %>
                  <div class="row">
                    <div class="small-12 columns">
                      <%= link_to "Answer Break Down", event_multi_choice_questions_path(question) %>
                    </div>
                  </div>
                <% end %>
              </td>
              <td class="percent-correct" width="170"><%= question.count_answers %></td>
              <td class="percent-correct" width="163"><%= question.check_for_answers %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>