<div class="row">
  <div class="large-">
    <div class="row">
      <div class="large-6 columns">
<br>
  <%= form_for(@review) do |f| %>
  <%= f.label "Feedback" %><br>
  <%= f.text_field :feedback_comments %><br />
  <%= f.label "Rate the presentation on a scale of 1-10" %><br>
  <%= f.text_field :rating %><br>
  <%= f.submit "Give Review", class: "button"%>
<% end %>
    </div>
    </div>
  </div>
</div>